.container {
    width: 50vw;
    height: 80vh;
    max-width: 460px;
    margin: 5em auto auto auto;
    padding: auto;
}

h1 {
    font-size: 4em;
}

h5 {
    color: #292929;
}

.title-container {
    border-radius: 10px;
    border: 1px solid #f5f5f5;
}

.title {
    display: flex;
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 1.5em;
}

.subtitle {
    text-align: center;
}

p {
    font-style: italic;
}