.container {
    width: 50vw;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4em;
}

h5 {
    color: #292929;
}

.title-container {
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    padding: 1px;
    height: 300px;
    width: -webkit-fill-available;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: flex;
    text-align: center;
    text-decoration: underline;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 1.5em;
}

.subtitle {
    text-align: center;
}

p {
    font-style: italic;
}