body {
    background-color: #2176AE;
    color: #f5f5f5;
}

.form-label {
    color: #333333;
}

.float-left-button-container {
    position: absolute;
    bottom: 1.2em;
    left: 1.2em;
    z-index: 1;
    width: auto;
}

#start-button-container {
    background-color: #2176AE;
    color: #f5f5f5;
    margin: 5em auto auto auto;
    cursor: pointer;
    width: 30vw;
}

#go-button {
    background-color: #f5f5f5;
    color: #2176AE;
    margin: auto;
    width: 20em;
    height: 5em;
    border: 4px solid #2383D7;
}

#go-button:hover {
    background-color: #0069d9;
    color: #f5f5f5;
}