.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 100px;
}

.action-button-container {
    display: flex;
    justify-content: center;
    color: #f5f5f5;
    cursor: pointer;
    width: 30vw;
    height: 13vh;
}

.action-button {
    background-color: #f5f5f5;
    color: #60114c;
    width: 10em;
    height: 5em;
}

.action-button-left {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.action-button-right {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.timer-container {
    color: #f5f5f5;
    background-color: #46183b;
    border-radius: 5px;
    margin: 2em auto 2em auto;
    padding: 0.8em;
    width: 30vw;
    height: 10vw;
    min-width: 300px;
    min-height: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.timer-container-item {
    display: flex;
    width: 3em;
    font-size: 4em;
    font-variant-numeric: tabular-nums;
}

.timer-container-number {
    margin-top: auto;
    order: 1;
}

.timer-container-text {
    order: 3;
    font-size: 0.5em;
    margin-top: auto;
}

.float-left-button-container {
    position: absolute;
    bottom: 1.2em;
    left: 1.2em;
    z-index: 1;
    width: auto;
}