body {
    background-color: #7b1562;
    color: #f5f5f5;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    position: absolute;
    bottom: 10vh;
    right: 27vw;
}

.action-button-container {
    display: flex;
    justify-content: center;
    color: #f5f5f5;
    cursor: pointer;
    width: 30vw;
}

.action-button {
    background-color: #f5f5f5;
    color: #60114c;
    width: 10em;
    height: 5em;
}

.action-button-left {
    float: right;
}

.action-button-rigth {
    float: left;
}

.action-button:hover {
    background-color: #60114c;
    color: #f5f5f5;
}

.timer-container {
    color: #f5f5f5;
    background-color: #46183b;
    border-radius: 5px;
    margin: 2em auto 2em auto;
    padding: 0.8em;
    width: 30vw;
    height: 10vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.timer-container-item {
    display: flex;
    width: 3em;
    font-size: 4em;
    font-variant-numeric: tabular-nums;
}

.timer-container-number {
    margin-top: auto;
    order: 1;
}

.timer-container-text {
    order: 3;
    font-size: 0.5em;
    margin-top: auto;
}

.float-left-button-container {
    position: absolute;
    bottom: 1.2em;
    left: 1.2em;
    z-index: 1;
    width: auto;
}